<main>
    <div class="slider pizzas">
        <div class="slides">

            <div class="pizza slide">
                <h1>Tartiflettes</h1>
                <div class="controls">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>

            <div class="pizza slide">
                <h1>Chorizo</h1>
                <div class="controls">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>

            <div class="pizza slide">
                <h1>4 fromages</h1>
                <div class="controls">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="details">
        <h2>Tartiflettes</h2>
        <button class="add-to-cart"></button>
        <p>
            <strong>Catégories&nbsp;</strong>
            <span></span>
        </p>
        <p>
            <strong>Ingrédients:&nbsp;</strong>
            <span></span>
        </p>
        <p>
            <strong>Prix:&nbsp;</strong>
            <span></span>
        </p>
    </div>

    <div class="cart">
        <h1>Votre panier:</h1>
        <p>Votre panier est vide...</p>
        <div class="total">
            <strong>TOTAL:</strong>
            <span>0</span> €
        </div>
    </div>
</main>